#root {
  
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.social-links a {
  color: rgb(152, 157, 93);
  margin: 0 10px;
  text-decoration: none;
}

.social-links i {
  margin-right: 5px;
}

.social-links a:hover {
  color: #00aced; /* Example hover color */
}

p {
  margin: 5px 0;
}

.aboutTab {
  background-color: lemonchiffon;
}

.contactTab {
  background-color: lightblue;    
}

.resumeTab {
  background-color:lightcyan;
}

.projectsTab {
  background-color: lightcoral;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #cec0c0;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #0725e9;
  color: white;
}
.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
}